<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<h1>{{store_h1}}</h1>
<ul>

    <img src="https://funkydunky.ru/upload/iblock/46a/vugbuybdqntf8wocvazy18jslfxoxdfb.jpg" width="200" height="300">

    <li>{{shoes_1}}
        <button type="submit">{{text_button}}</button>
    </li>


    <img src="https://funkydunky.ru/upload/iblock/b21/my701ytsun45p1jg3ptbfj12mlnhezsm.jpg" width="200" height="300">

    <li>{{shoes_2}}
        <button type="submit">{{text_button}}</button>
    </li>
    <img src="https://funkydunky.ru/upload/iblock/c38/0pd0apwc10vgyrsap2243i7lwii0el6g.jpg" width="200" height="300">
    <li>{{shoes_3}}
        <button type="submit">{{text_button}}</button>
    </li>

</ul>
<form action="/">
    <button type="submit">{{text_all_page}}</button>
</form>

</body>
</html>